/* Estilos gerais */
html, body {
    background-color: #f8f9fa;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #4F81BD;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}

.container {
    flex-grow: 1;
    display: flex;
    padding: 20px;
}

/* Rodapé */
.footer {
    background-color: #4F81BD;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Logo */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

/* Estilo para a estrutura do layout */
.col-md-3 {
    flex: 0 0 20%; /* Filtro lateral ocupa 20% da largura, mais próximo da borda */
    padding-right: 20px;
    border-right: 1px solid #ccc;
    background-color: white;
    padding-top: 20px;
    margin-left: 0; /* Aproxima o filtro da borda esquerda */
}

.col-md-9 {
    flex: 0 0 80%; /* Tabela ocupa 80% do espaço restante */
    padding-left: 20px;
}

/* Filtros */
h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-select:focus {
    border-color: #4F81BD;
}

/* Tabela */
.table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
}

.table th,
.table td {
    text-align: left;
    padding: 12px;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Rodapé de navegação */
.rodape {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #4F81BD;
    border: none;
    color: white;
    cursor: pointer;
}

.rodape button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilo do rodapé */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #4F81BD;
    color: white;
    margin-top: 30px;
}
